@import "tailwindcss";

.dropDown{
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 50px;
    width: 1200px;
    background-color: #273c75;
    font-size: 20px;
    font-weight: bold;
}

.dropDownItem{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1200px;
    background-color: #1f1f1f;
    padding: 10px;
}

.addTopic{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f1f1f;
    padding: 10px;
}